@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical-stretch {
  display: inline-block;
  transform: scaleY(2);
  -webkit-transform: scaleY(2);
  -moz-transform: scaleY(2);
  -o-transform: scaleY(2);
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'Britney';
  src: url('/Britney_Complete/Fonts/WEB/fonts/Britney-Regular.woff2') format('woff2'),
       url('/Britney_Complete/Fonts/WEB/fonts/Britney-Regular.woff') format('woff');
  font-weight: 400; /* Regular */
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Britney';
  src: url('/Britney_Complete/Fonts/TTF/Britney-Variable.ttf') format('truetype');
  /* This is a variable font. You can define a range of weights. */
  font-weight: 300 700; 
  font-display: swap;
  font-style: normal;
}

/* Add this to your main CSS file, e.g., index.css or global.css */

.feature-button .description {
  max-height: 0;
  opacity: 0;
}

.feature-button.active .description {
  max-height: 200px; /* A value large enough to contain the text */
  opacity: 1;
}

/* Optional: Add a subtle scale effect on the active button */
.feature-button.active {
  transform: scale(1.05);
}

/* You might only need one of the above if the variable font covers all weights */