@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical-stretch {
  display: inline-block;
  transform: scaleY(2);        /* Stretches the text to 2x its normal height */
  /* For browser support: */
  -webkit-transform: scaleY(2);
  -moz-transform: scaleY(2);
  -o-transform: scaleY(2);
}

.spin {
  animation: spin 2s linear infinite; /* duration | timing | repeat */
}

@keyframes spin {
  to { transform: rotate(360deg); } /* from is 0deg by default */
}